@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Quill Editor Styles */
.ql-container {
  min-height: 200px;
  font-size: 16px;
}

.ql-editor {
  min-height: 200px;
}

/* .hover-icon {
  color: tertiary;
}

.hover-icon:hover {
  color: white;
} */